@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
}

.container-custom {
  @apply max-w-7xl mx-auto px-4 md:px-8;
}

.section-padding {
  @apply py-20;
}