@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
}

.container-custom {
  @apply max-w-7xl mx-auto px-4 md:px-8;
}

.section-padding {
  @apply py-20;
}


.hero-swiper .swiper-pagination-bullet {
  background: rgba(255,255,255,0.5);
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}

.hero-swiper .swiper-pagination-bullet-active {
  background: #3b82f6;
  width: 28px;
  border-radius: 999px;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.floating-image {
  animation: float 5s ease-in-out infinite;
}




.apple-spinner {
  position: relative;
  width: 60px;
  height: 60px;
}

.apple-spinner-blade {
  position: absolute;
  left: 28px;
  top: 3px;
  width: 4px;
  height: 14px;
  border-radius: 999px;

  background: #555;

  opacity: 0;
  transform-origin: center 27px;

  animation: apple-fade 1s linear infinite;
  transform: rotate(calc(var(--i) * 30deg));
  animation-delay: calc(var(--i) * 0.083s);
}

@keyframes apple-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}